.wrapper {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    column-count: 3;
    padding: 0px 0px 5px 5px;
}

.node .main {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

h1 {
    text-align: center;
}

.node .delete {
    stroke-width: 1.5px;
}


.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

text {
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.scrollimage {
    overflow-x: scroll;
    width: 2000px;
}

.scrollable {
    /*height: 432px;*/
    /* max-height: 543px; */
    overflow: auto;
}

/* width */
.scrollable::-webkit-scrollbar {
    height: 6px;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 6px;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 6px;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.color-container {
    display: flex;
    flex-wrap: wrap;
}

.color-block {
    height: 2rem;
    cursor: pointer;
}

.color-block:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.color-block:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#starred {
    display: flex;
    margin-bottom: -1px;
}

#starred::-webkit-scrollbar {
    display: none;
}

#starred .item {
    height: 100%;
    position: relative;
    flex: 0 0 auto;
    border: 1px solid #71777d !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

#starred .item.active {
    border-bottom-color: white !important;
}

#starred .item:not(.active) {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}

#starred .item img {
    height: 100%;
    width: auto;
}

#starred .item .btn-group {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

#image-comments {
    border-color: #71777d !important;
}

textarea.form-control {
    height: 80px !important;
}

.image-window {
    width: 252px;
    height: 100%;
    position: relative;
}

.image-subwindow {
    height: 100%;
    display: flex;
    overflow: auto;
}

.image-subwindow::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

.image-subwindow::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.image-subwindow::-webkit-scrollbar-thumb {
    background-color: #555;
}

.image-subwindow img {
    height: 100%;
    width: auto;
}

.boarding-selected {
    border: 3px solid #ffc107;
}

.img-wrap {
    position: fixed;
    display: inline-block;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}

.img-wrap img {
    max-width: 100%;
}

.img-wrap .button-demo {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 20;
}

.selected-image {
    max-width: 100%;
    height: auto;
}
