<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">

    <title>MetaBoard</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
</head>

<body class="bg-light">

<main role="main" class="container">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">About</a>
                </nav>
            </div>
        </header>
        <main role="main" class="inner cover">
            <div class="">
                <div></div>
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="text-center">
                <p>Copyright © HKUST HCI Initiative</p>
            </div>
        </footer>
    </div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../static/js/vendor/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<script src="../static/js/main.js"></script>

</body>
</html>
