<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">

    <title>MetaBoard</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/jquery-ui.min.css" rel="stylesheet">
    <!--    <link href="../static/css/style.min.css" rel="stylesheet">-->
    <!--    <link rel="stylesheet" href="../static/css/fontawesome-5.8.2-all.min.css">-->

    <!-- Custom styles for this template -->
    <link href="../static/css/template.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/db9591b1ba.js" crossorigin="anonymous"></script>
</head>

<body>

<main role="main" class="container-fluid">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main role="main" class="inner cover">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="card bg-light mb-1">
                            <div class="card-body" style="padding-top: 15px; padding-bottom: 6px;">
                                <div class="input-group">
                                    <input id="search" type="text" class="form-control"
                                           placeholder="Type the keywords here"
                                           aria-label="Search" name="search">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" onclick="submit()" type="button">
                                            Search
                                        </button>
                                    </div>
                                </div>
                                <hr/>
                                <small>Search History</small>
                                <div id="history">
                                    <p>No Searching History</p>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-light mb-1">
                            <div class="card-body" style="padding-top: 15px; padding-bottom: 6px;">
                                <p>Keyword Collection</p>
                                <div id="keywords">
                                    <p>No Keywords</p>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-light mb-1">
                            <div class="card-body" style="padding-top: 15px;">
                                <p>Color Palette</p>
                                <div id="colors" class="color-container">
                                    <p>No Colors</p>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-light mb-1">
                            <div class="card-body" style="padding-top: 15px; padding-bottom: 6px;">
                                <p>Image Collection</p>
                                <div class="wrapper scrollable" style="max-height: 543px;" id="images">
                                    {% if image|length != 0 %}
                                    {% for elem in image %}
                                    <img src="../static/img/{{ elem }}" alt="..." class="img-fluid img-thumbnail item"
                                         onclick="addImage('../static/img/{{ elem }}')">
                                    {% endfor %}
                                    {% else %}
                                    <p>No Images</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="card mb-1">
                            <div class="card-header container-fluid">
                                <span class="align-middle" style="float: left;">MetaBoard Canvas</span>
                                <div class="btn-toolbar" role="toolbar" style="float: right;"
                                     aria-label="Toolbar with button groups">
                                    <div class="btn-group btn-group-sm mr-2" role="toolbar" style="float: right;"
                                         aria-label="Toolbar with button groups">
                                        <button class="btn btn-outline-dark" id="clear" onclick="clearboard()">Clear
                                        </button>
                                    </div>
                                    <div class="btn-group btn-group-sm" role="toolbar"
                                         aria-label="Toolbar with button groups">
                                        <button class="btn btn-outline-dark" id="screenshot" onclick="screenshot()">
                                            Screenshot
                                        </button>
                                        <button class="btn btn-outline-dark" id="print" onclick="printout()">Print
                                        </button>
                                        <button class="btn btn-outline-dark" id="share" onclick="shareto()">Share
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <nav>
                                    <div class="nav nav-tabs" id="nav_tab" role="tablist">
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav_tabContent">
                                </div>
                                <h2 id="intro" class="text-center text-muted">Please click a image for browsing.</h2>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <div class="card-header">
                                Starred Images
                            </div>
                            <div class="card-body">
                                <div class="scrollable" id="starred" style="height: 200px;"></div>
                                <hr/>
                                <form id="image-comments">
                                    <fieldset disabled>
                                        <div class="form-group">
                                            <label for="image-comments-text">Comments...</label>
                                            <textarea
                                                    id="image-comments-text"
                                                    name="content"
                                                    class="form-control"
                                                    rows="5"
                                                    placeholder="Write image comments here"
                                                    oninput="_inputComment()"
                                            ></textarea>
                                        </div>
                                        <button type="submit" id="image-comments-btn" class="btn btn-outline-secondary">
                                            Save
                                        </button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="text-center">
                <p>Copyright © HKUST HCI Initiative</p>
            </div>
        </footer>
    </div>

    <div class="toast-container" aria-live="polite" aria-atomic="true">
        <!-- 如果之后还有定制toast的需求，在这里加入另一个div class="toast"
        然后用JS控制$('#toast-id').toast('show') -->
        <div
                id="color-clipboard-toast"
                class="toast"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                data-delay="1500"
        >
            <div class="toast-body">
                <i class="fa fa-clipboard"></i>&nbsp;
                Color code copied to clipboard!
            </div>
        </div>
    </div>

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="../static/js/vendor/jquery-latest.min.js"></script>
<!-- <script src="../static/js/vendor/jquery-3.4.1.min.js"></script> -->
<script src="../static/js/vendor/jquery-ui.min.js"></script>
<script src="../static/js/vendor/popper.min.js"></script>
<script src="../static/js/vendor/bootstrap.min.js"></script>
<!--<script src="https://d3js.org/d3.v4.min.js"></script>-->
<script src="../static/js/vendor/d3.v3.min.js"></script>
<script src="../static/js/vendor/textures.js"></script>
<script src="../static/js/vendor/clipboard.min.js"></script>
<!--<script src="../static/js/layout.js"></script>-->
<!--<script src="../static/js/tree.js"></script>-->
<script src="../static/js/image-tree-v3.js"></script>
<script src="../static/js/interaction.js"></script>
<!--<script src="../static/js/sankey.js"></script>-->
</body>
</html>